.container {
  display: flex;
  justify-content: flex-end; /* 장바구니를 오른쪽에 정렬 */
  align-items: flex-start;
  width: 400px; /* 컨테이너 전체 너비 설정 */
  margin: 0 auto; /* 가운데 정렬을 위해 사용 */
}

/* 장바구니 스타일 */
#장바구니 {
  width: 200px;
  height: 200px;
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ccc;
}

/* 상품 스타일 */
.상품 {
  width: 100px;
  height: 50px;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}